/* Global css style starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global css style ends here  */

/* Common style starts here */
body {
  font-family: "Work Sans", sans-serif;
}

.logo-title-capital-letter {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-primary {
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
/* Common style ends here */

/* Nav style starts here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 35px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.follow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}

.menu-item {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  padding-right: 24px;
}

.social-icon > .fa-brands {
  font-size: 24px;
}

.social-icon > .fa-youtube {
  padding-right: 16px;
}
/* Nav style ends here */

/* Banner section starts here */
.banner-container {
  padding: 35px 20px 0 20px;
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.banner {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  margin: 0 auto;
}

.banner-text-area {
  padding: 150px 0;
}

.text-area-subtitle {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-area-title {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
}

.color-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-area-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.button-area {
  display: flex;
  gap: 24px;
  padding-top: 40px;
}

.button-secondary {
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  background: #4ec5f7;
}

/* Banner section ends here */

/* Media Query starts here */

/* Mobile device starts here */
@media screen and (max-width: 576px) {
  /* Nav Starts */
  .nav-container,
  .menu-container {
    display: flex;
    flex-direction: column;
  }

  nav {
    padding: 80px 0;
    box-shadow: none;
  }

  .logo-container {
    padding-bottom: 60px;
  }
  /* Nav ends */

  /* Banner starts */
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-container {
    padding: 35px 20px 0 20px;
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
  }

  .banner-text-area {
    padding: 60px 0;
    margin: 0 auto;
  }
  /* Banner ends*/
}
/* Mobile device ends here */

/* Tablet device starts here */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-container,
  .menu-container {
    display: flex;
    flex-direction: column;
  }

  nav {
    padding: 80px 0;
  }

  .logo-container {
    padding-bottom: 60px;
  }

  /* Banner starts */
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-container {
    padding: 35px 20px 0 20px;
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
  }

  .banner-text-area {
    padding: 140px 0;
    margin: 0 auto;
  }
  /* Banner ends*/
}

/* Tablet device starts here */

/* Media Query ends here */
